img {
	height: 100vh;
	width: 50vw;
}
.bottomText {
	position: absolute;
	color: #fff;
	font-style: "Roboto", sans-serif;
	font-size: 45px;
	font-weight: 900;
	width: 450px;
	bottom: 35px;
	left: 40px;
}
